.skill-container{
    display: flex;
    flex-direction: column;
    height: fit-content;  
    margin-top: 6em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    background: linear-gradient(white,antiquewhite);
}
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon-container div{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 2em;
}
.icon-container span{
    font-size: larger;
}
.text-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 2.5em;
}

.title{
    font-size: larger;
    font-weight: 700
}
.body-copy{
    font-size: medium;
    font-weight: 400;
}

.skill-container .image-container{
    height: 100%;
    width: 100%;
    padding-bottom: 3em;  
}
.skill-container .image-container img{
    border-radius: 50%;
    box-shadow: 0px 2px 5px;
}
.image-container{
    text-align: center;
}
.image-container h3{
    padding-bottom: 2em;
}
.icon{
    font-size: x-large;
}
@media only screen and (min-width: 280px) and (max-width: 580px){
    .skill-container{
        flex-direction: column;
    }
    .skill-container .image-container{
        padding-bottom: 2em;
        padding-top: 1em;
    }
    .image-container h3{
        padding-bottom: .5em;
    }
    .icon-container{
        flex-direction:column;
        
    }
    .icon-container div{
        flex-direction: row;
    }
    .icon-container span{
        padding-left: .5em;
    }
    
}
@media only screen and (min-width: 581px) and (max-width: 800px){
    .skill-container{
        align-items: center;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1700px){
    .skill-container{
        align-items: center;
        margin-top: 11.5em;
        padding: 3em;
    }
    .icon-container{
        justify-content: center;
    }
    .title{
        font-size: calc(22px + (26 - 22) * ((100vw - 801px) / (1700 - 801)));
    }
    .body-copy{
        font-size: calc(17px + (20 - 17) * ((100vw - 801px) / (1700 - 801)));
    }
    @media only screen and (min-width: 900px) and (max-width: 1700px){
        .text-container{
            padding-top: 3em;
            padding-bottom: 3em;
        }
    }
}